In [13]:
%matplotlib inline
import imp
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [2]:
import seaborn as sns; sns.set()

In [3]:
problem = imp.load_source('', 'problem.py') #problem is a module with different methods

In [4]:
X_df, y_array = problem.get_train_data() #get_train_data() is one of those methods

In [5]:
X_df.head()

  DateOfDeparture Departure Arrival  WeeksToDeparture   std_wtd
0      2012-06-19       ORD     DFW         12.875000  9.812647
1      2012-09-10       LAS     DEN         14.285714  9.466734
2      2012-10-05       DEN     LAX         10.863636  9.035883
3      2011-10-09       ATL     ORD         11.480000  7.990202
4      2012-02-21       DEN     SFO         11.450000  9.517159

In [7]:
y_array

array([12.33129622, 10.77518151, 11.08317675, ..., 10.508746  ,
       10.17404162,  9.20267425])