In [1]:
%matplotlib inline
import imp
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [2]:
import seaborn as sns; sns.set()

In [3]:
problem = imp.load_source('', 'problem.py') #problem is a module with different methods

In [18]:
X_df, y_array = problem.get_train_data() #get_train_data() is one of those methods

In [26]:
X_df.head(5)

  DateOfDeparture Departure Arrival  WeeksToDeparture   std_wtd
0      2012-06-19       ORD     DFW         12.875000  9.812647
1      2012-09-10       LAS     DEN         14.285714  9.466734
2      2012-10-05       DEN     LAX         10.863636  9.035883
3      2011-10-09       ATL     ORD         11.480000  7.990202
4      2012-02-21       DEN     SFO         11.450000  9.517159

In [27]:
#Check Skew Variables
X_df.skew()

WeeksToDeparture    0.270212
std_wtd             0.066525
dtype: float64

Little skew so ok

In [37]:
X_df['flight_route'] = X_df['Departure']+'/'+X_df['Arrival']
X_df.head(5)

  DateOfDeparture Departure Arrival  WeeksToDeparture   std_wtd flight_route
0      2012-06-19       ORD     DFW         12.875000  9.812647      ORD/DFW
1      2012-09-10       LAS     DEN         14.285714  9.466734      LAS/DEN
2      2012-10-05       DEN     LAX         10.863636  9.035883      DEN/LAX
3      2011-10-09       ATL     ORD         11.480000  7.990202      ATL/ORD
4      2012-02-21       DEN     SFO         11.450000  9.517159      DEN/SFO

In [42]:
plt.scatter(Week)

NameError: name 'Week' is not defined

In [47]:
import os
print(os.listdir())

['air_passengers_starting_v1_Averaging.ipynb', 'air_passengers_starting_kit.ipynb', '.DS_Store', 'requirements.txt', 'environment.yml', '__pycache__', 'README.md', 'Exploration.ipynb', 'problem.py', '.gitignore', 'submissions', '.ipynb_checkpoints', '.git', 'data', '.travis.yml', 'air_passengers_v1.ipynb']